* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
}

.app {
  background-color: aliceblue;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  div{
    width: 98%;
    text-align: center;
  }
}

.green{
  color: green;
}

.title{
  font-size:xx-large;
  padding: 1%;
}


.newMission{
  width: 55%;
  height: 40%;
  background-color: #355e34;
  /* box-shadow: 1px 1px 1px black; */
  border-radius: 16px;
  display: flex;
  justify-content: center;  
  align-items: center;
  flex-direction: column;
  gap: 2%;
  select, input{
    width: 90%;
    height: 8%;
    border-radius: 15px;
  }
}


.main{
  height: 45%;
  width: 98%;
  border: rgb(5, 37, 1) solid 1px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.red{
  background-color: rgb(206, 69, 69);
}

.mission {
  background-color: #da0d95;
  border-radius: 10px;
  padding: 1em;
}

/* 
.add {
  margin-bottom: 1.5em;
}

.list {
}

.robonto_font {
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  font-variation-settings: "slnt" 0, "wdth" 100, "GRAD" 0, "XOPQ" 96, "XTRA" 468,
    "YOPQ" 79, "YTAS" 750, "YTDE" -203, "YTFI" 738, "YTLC" 514, "YTUC" 712;
} */
