* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
}

.app {
  background-color: aliceblue;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  div{
    width: 98%;
    text-align: center;
  }
}

.green{
  color: green;
}

.title{
  font-size:xx-large;
  padding: 1%;
}


.newMission{
  width: 55%;
  height: 40%;
  background-color: #355e34;
  box-shadow: 1px 1px 1px black;
  border-radius: 16px;
  display: flex;
  justify-content: center;  
  align-items: center;
  flex-direction: column;
  gap: 2%;
  select, input{
    width: 90%;
    height: 8%;
    border-radius: 15px;
  }
}


.main{
  height: 45%;
  width: 98%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  align-items: center;
  gap: 1%;
}

.main::-webkit-scrollbar{
  display: none;
}

.b-red{
  background-color: rgb(206, 69, 69);
}

.b-orange{
  background-color: orange;
}

.b-green{
  background-color: green;
}

.mission {
  background-color: #da0d95;
  border-radius: 10px;
  padding: 1em;
}

.item{
  padding: 1%;
  display: flex;
  align-items: center;
  color: white;
  box-shadow: 1px 1px 1px black;
  border-radius: 16px;
}

.white{
  color: white;
}